VITE_ESCROW_CONTRACT_ID=your_escrow_contract_id
VITE_ARBITRATION_CONTRACT_ID=your_arbitration_contract_id
VITE_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_SOROBAN_URL=https://soroban-testnet.stellar.org
